body {
  background: white url(./images/fonas.png) repeat;
}

#root {
  max-width: 320px;
  margin: 0 auto;
  background: white;
}

h3 {
  &.apptitle {
    text-align: center;
  }
}

ul,
li,
ul li {
  list-style-type: none;
}

.todolist {
  padding-left: 0;

  .todoitem {
    position: relative;
    margin-bottom: 0.25rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-top: 1px solid #ccc;

    &.done {
      .form-check-label {
        color: #999;
        text-decoration: line-through;
      }
    }

    &.highlight {
      border-color: yellow;
      background-color: #yellow;

      &:last-child {       
      }
    }

    &:last-child {
      border-bottom: 1px solid #ccc;
    }

    .btn-secondary {
      border-radius: 50%;
    }

    .form-check-label {

      .form-check-input {
        margin-right: 1rem;
      }
    }
  }
}
